.navbar{
    background-color:#333;
}
.navbar  a{
    color:green;
}
.dropdown-menu{
    background-color:#333;
}
.navbar a:hover{
    color:white;
    transform:scale(1.1)
}
.dropdown-menu a:hover{
color:white;
background-color:#333;
}
.brand{
    font-size:2rem;
}